
{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/nobody.jpg' %}" width="75%" />
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}Chris Campbell</h2>
      <!-- Content goes directly underneath this -->
      {{ about.content | safe }}Born in 1980, I am a software developer with a passion for coding and technology. I have
      worked on various projects, ranging from web applications to mobile apps. My journey in the tech world
      began at a young age, and I have since honed my skills in multiple programming languages and frameworks.
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ about.updated_on }}17:49 02/07/2025</em></p>
    </div>
  </div>
</div>
{% endblock content %}
